@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: rgb(255, 255, 255);
    color: rgb(29, 27, 27);
}
header {
  height: 100vh;
  width: 200px;
  position: fixed; 
  left: 0px;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
  text-align: center;
}

input[type="text"]{

box-sizing: border-box;
width: 600px;
padding: 2px;
border: 2px solid rgb(26, 19, 19);
text-align: center;
background-color:white;



}
input[type="text3"] {
    box-sizing: border-box;
    width: 600px;
    padding: 100px;
    border: 1px solid #4b3b26;
    text-align: left;
    background-color: white;
}

input[type="text"], select, country {
    box-sizing: border-box;
    width: 400px;
    padding: 3px;
    border: 1px solid #4b3b26;
    text-align: center;
    background-color: white;
}
.logo {
    font-size: 3rem;
    color: black;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
    text-align: start;
    border: royalblue;
}

.logo:hover {
    transform: scale(1.1);
}

nav a {
    font-size:large;
    color: rgb(87, 27, 27);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
    text-align: center;
    left: 0;
    text position: left: 0;
   
    position-area:inherit;
}

nav a:hover,
nava.active {
    color: #fa0000;
    border-bottom: 3px solid red;
}

@media(max-width:999px) {
    nav {
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid black;
        border-bottom: 3px solid black;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color:rgb(197, 3, 3);
        border-top: 0.1rem solid rgb(255, 247, 247);
    }

    nav.active {
        display: block;
    }

    nav a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;

    }

    nav a:hover,
    nav a.active {
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid 3;
    }
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    font-weight: bold;
    margin-bottom: 20px;
    color: #0f0f0f;
}

.bar-bg {
    background-color: #ffffff;
    border-radius: 10px;
    height: 8px;
    width: 100%;
    margin-top: 8px;
    overflow: hidden;
}

.bar-fill {
    background-color:#fc9393;
    height: 70%;
    border-radius: 25px;
}
.container {
    font-size: 15px;
    font-weight: 200;
    border: 2px solid #5C4033;
    border-radius: 12px;
    padding: 40px; color: rgb(20, 19, 19);
    max-width: 800px;
    margin: 50px auto;
    background-color: rgba(175, 162, 162, 0.3);
    max-width: 800px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.skills-list,
.contact-list {
    list-style: none;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

.skills-list li,
.contact-list li {
    margin: 10px 0;
    font-family: 'Poppins', sans-serif;
}

.education-item {
    margin-bottom: 20px;
}

section {
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.section {
    scroll-margin-top: 80px;
    padding: 50px 20px;
    text-align: center;
}


section {
    min-height: 100vh;
    padding: 5rem 9% 5rem;

}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: white;
}

.home .home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span {
    color:red;
}

.home-content p {
    font-size: 1.6rem;
}

.home-img {
    border-radius: 50%;
}

.home-img img {
    width: 300px;
    height: 300px;

    position: relative;
    border-radius: 50%;
    box-shadow: 0 0 25px solid #fc9393;
    cursor: pointer;
    transition: 0.2s linear;
    border: 5px solid black;

}

.home-img img:hover {
    font-size: 1.8rem;
    font-weight: 500;
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #210af0;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #1791f5;
}

.social-icons a:hover {
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: #fc9393;
    box-shadow: 0 0 25px #fc9393;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: white;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #fc9393;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #fc9393;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    transform: scale3d(1.03);
    background-color: #fc9393;
    color: black;
    box-shadow: 0 0 25px #fc9393;
}

.typing-text {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span {
    position: relative;
}

.typing-text span::before {
    content: "BSIT STUDENT";
    color: #0c0202;
    animation: words 20s infinite;
}

.typing-text span::after {
    content: "";
    background-color: white;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid white;
    right: -8;
    animation: cursor 0.6s infinite;
}

@keyframes cursor {
    to {
        border-left: 3px solid #fc9393;
    }
}

@keyframes words {

    0%,
    20% {
        content: "BSIT STUDENT";
    }
}

@media (max-width: 1000px) {
    .home {
        gap: 4rem;
    }
}

@media(max-width:995px) {
    .home {
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3 {
        font-size: 2.5rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }
    
section {
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.section {
    scroll-margin-top: 80px;
    padding: 50px 20px;
    text-align: center;
}
mark{
    color: lightgray;
    background-color: lightgray;
}

}
